{% extends('layouts/app.html.twig') %}

{% block head %}
<title>Reset Password &mdash; elbo.in</title>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">Reset Password</div>

        <div class="panel-body">
          <form class="form-horizontal" role="form" method="POST" action="/~password/reset">
            <div class="form-group {% if errors.email is not null %}has-error{% endif %}">
              <label for="email" class="col-md-4 control-label">E-Mail Address</label>

              <div class="col-md-6">
                <input id="email" type="email" class="form-control" name="email" value="{{ email }}" required autofocus>

                {% if errors.email is not null %}
                <span class="help-block">
                  <strong>
                    {% if errors.email == 1 %}
                      That is not a valid e-mail address.
                    {% elseif errors.email == 2 %}
                      That e-mail address is not registered.
                    {% endif %}
                  </strong>
                </span>
                {% endif %}
              </div>
            </div>

            <div class="form-group {% if errors.captcha %}has-error{% endif %}">
              <div class="col-md-4"></div>
              <div class="col-md-6">
                <div class="g-recaptcha" data-sitekey="{{ config('api_key.recaptcha_site_key') }}"></div>
                {% if errors.captcha %}
                <span class="help-block">
                  <strong>You did not fill in the captcha correctly.</strong>
                </span>
                {% endif %}
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-6 col-md-offset-4">
                <button type="submit" class="btn btn-primary">
                  Reset Password
                </button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script src="https://www.google.com/recaptcha/api.js"></script>
{% endblock %}
