{% extends('layouts/app.html.twig') %}

{% block head %}
<title>QR Code for https://elbo.in/{{ shorturl }} &mdash; elbo.in</title>
{% endblock %}

{% block content %}
<div class="container qrcode-container">
  <h2>QR Code for https://elbo.in/{{ shorturl }}</h2>
  <img src="/~qr/img/{{ shorturl }}">

  <form method="GET" action="/~qr/img/{{ shorturl }}" class="form form-horizontal col-sm-offset-4 col-sm-4">
  	<input type="hidden" name="download">

    <div class="row">
      <select name="size" class="form-control">
        <option value="100">100x100</option>
        <option value="200">200x200</option>
        <option value="300" selected>300x300</option>
        <option value="400">400x400</option>
        <option value="500">500x500</option>
        <option value="600">600x600</option>
        <option value="700">700x700</option>
        <option value="800">800x800</option>
        <option value="900">900x900</option>
        <option value="1000">1000x1000</option>
      </select>

      <input type="submit" class="btn btn-primary form-control" value="Download">
    </div>

  </form>
</div>
{% endblock %}
