<div class="centered-text">
  {% if login_email %}
    Shortening has been disabled. To back up your links, you may
    export your data from <a href="/~export">here</a>.
  {% else %}
    Shortening has been disabled. If you have an account and want to
    back up your links, you may export your data from
    <a href="/~export">here</a>.
  {% endif %}
</div>