{% extends('layouts/app.html.twig') %}

{% block head %}
<title>Analytics unavailable &mdash; elbo.in</title>
{% endblock %}

{% block content %}
<div class="container">
  <h2>Analytics are not available for this short URL.</h2>
</div>
{% endblock %}
