{% extends('layouts/app.html.twig') %}

{% block head %}
<title>Forbidden &mdash; elbo.in</title>
{% endblock %}

{% block content %}
<div class="container">
  <h2>Forbidden action</h2>

  <p>Sorry, you're not allowed to perform that action. Please try again.</p>
  <p>If you have disabled referers in your browser, please enable them before you continue.</p>
</div>
{% endblock %}
