{% extends('layouts/app.html.twig') %}

{% block head %}
<title>URL not found &mdash; elbo.in</title>
{% endblock %}

{% block content %}
<div class="container">
  <h2>URL not found</h2>

  <p>Sorry, we couldn't find the short link you're looking for.</p>
  <p>If you manually typed out the link, please verify that you typed it correctly. elbo.in short links are case sensitive.</p>
</div>
{% endblock %}
