{% extends('admin/policy_editor.html.twig') %}

{% block head %}
<title>Add New Policy &mdash; Admin Panel</title>
{% endblock %}

{% block policy_editor_heading %}
<h2>Add new policy</h2>
{% endblock %}