{% extends('layouts/admin.html.twig') %}

{% block head %}
<title>User disabled &mdash; Admin Panel</title>
<meta http-equiv="refresh" content="3; url={{ url('/~admin/users', {
  email: r_email,
  disabled: r_disabled,
  created_ip: r_created_ip,
  last_login_ip: r_last_login_ip,
  n: r_n
}) }}">
{% endblock %}

{% block content %}
<div class="container">
  <h3>The user account was disabled.</h3>
  <p>Redirecting to the previous page in a few seconds...</p>
</div>
{% endblock %}
