<div id="ext-promo-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Get the elbo.in extension!</h4>
      </div>
      <div class="modal-body centered-text">
        <div class="row">
          <div class="col-xs-4">
            <a href="https://chrome.google.com/webstore/detail/elboin-url-shortener/ecllbibphdcbbpjdilliapdjmdneoacp">
              <img class="browser-icon" src="/assets/img/chrome_64x64.png"><br>
              Download for Chrome
            </a>
          </div>
          <div class="col-xs-4">
            <a href="https://addons.opera.com/en/extensions/details/qurlpw-shorten-your-links">
              <img class="browser-icon" src="/assets/img/opera_64x64.png"><br>
              Download for Opera
            </a>
          </div>
          <div class="col-xs-4">
            <a href="https://addons.mozilla.org/en-GB/firefox/addon/elbo-url-shortener/">
              <img class="browser-icon" src="/assets/img/firefox_64x64.png"><br>
              Download for Firefox
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>