<div id="shutdown-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">elbo.in shutdown notice</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            Due to massive abuse of the service, we have been forced to shut down the
            service.

            elbo.in will no longer accept any new URLs. Your links will keep working until
            the service is retired on February 26th, 2019. If you have an account and have
            any existing links, you can back them up from <a href="/~export">here</a>.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>$('#shutdown-modal').modal('show');</script>